/* Logo.module.scss */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #ffffff;
}

.logo {
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Nav.module.scss */
.nav {
    justify-content: flex-end;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background-color: #ffffff;
}

/* NavMenu.module.scss */
.navMenu {
    //   display: flex;
    //   list-style: none;
    //   margin-left: auto;
    //   font-family: DAE;
    display: flex;
    list-style: none;
}

/* NavItem.module.scss */
.navItem {
    //   margin-right: auto;
    //   margin-left: 5rem;
    //   color: #231656;
    //   cursor: pointer;
    margin-left: 1.5rem;
    color: #333333;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
        text-decoration: underline;
    }
}

/* LoginNavItem.module.scss */
.loginNavItem {
    margin-right: 5rem;
}
